<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="cn.mldn.mybatis.vo"/>
<!-- 		<typeAlias type="cn.mldn.mybatis.vo.News" alias="News"/>
 -->
 	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.gjt.mm.mysql.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mldn"/>
				<property name="username" value="root"/>
				<property name="password" value="mysqladmin"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cn/mldn/mybatis/mapping/News.xml"/>
		<mapper resource="cn/mldn/mybatis/mapping/Member.xml"/>
	</mappers>
</configuration>